form {
  display: flex;
  flex-direction: column;
    align-items: center; /* Center items horizontally */

  max-width: 800px; /* Set a max width for the form */
  margin: auto; /* Center the form */
}

label {
  margin-bottom: 8px;
  font-family: 'League Spartan', sans-serif;
    font-size: calc(4px + 2vmin);
}

label2 {
  margin-bottom: 8px;
  font-family: 'League Spartan', sans-serif;
    font-size: calc(4px + 2vmin);
}

@font-face {
  font-family: 'League Spartan';
  src: url('https://fonts.google.com/share?selection.family=League+Spartan:wght@100..900') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input, textarea {
  margin-bottom: 16px;
  padding: 12px; /* Larger padding for input and textarea */
  border: 2px solid #ccc; /* Thicker border */
  border-radius: 4px;
  font-size: 16px; /* Larger font for input and textarea */
}

textarea {
  width: 100px; /* Full width for textarea */
  height: 200px; /* Set a height for the textarea */
  resize: none; /* Prevent resizing */
}

button {
  padding: 12px; /* Larger padding for button */
  background-color: #ff40bd;
  color: white;
  border: none;
  width:460px;
  border-radius: 14px;
  font-size: 18px; /* Larger font for button */
  cursor: pointer;  align-items: center;
  text-align: center; 

}


/* Custom style for the second textarea to take 1/3 of the page */
textarea {
  width: 33.33%; /* Make this textarea 1/3 of the width */
}
